/CompanyEmployees/.idea/*
CompanyEmployees/CompanyEmployees/obj/
CompanyEmployees/Contracts/obj/
CompanyEmployees/LoggerService/obj/
CompanyEmployees/Entities/obj/
CompanyEmployees/Repository/obj/
.DS_Store
