/CompanyEmployees/.idea/*
CompanyEmployees/CompanyEmployees/obj/
CompanyEmployees/Contracts/obj/
CompanyEmployees/LoggerService/obj/
CompanyEmployees/Entities/obj/
CompanyEmployees/Repository/obj/
CompanyEmployees/CompanyEmployees/bin/
CompanyEmployees/Contracts/bin/
CompanyEmployees/LoggerService/bin/
CompanyEmployees/Entities/bin/
CompanyEmployees/Repository/bin/
CompanyEmployees/Service/bin/
CompanyEmployees/Service/obj/
CompanyEmployees/Service.Contracts/bin/
CompanyEmployees/Service.Contracts/obj/
.DS_Store
